<% for repository in @repositories %>
   <div class="repository">
      <div class="repository-header">
         <i class="icon-folder-open icon-spaced"></i>
         <a href="<%= repository.name %>"><%= repository.name %></a>
         <a href="/"><i class="rss pull-right"></i></a>
      </div>
      <div class="repository-body">
         <p><%= repository.description %></p>
      </div>
   </div>
<% end %>

<hr />
