<ul class="breadcrumb{{# files_page? }} breadcrumb-with-commit{{/ files_page? }}">

   <li><a href="{{ repository_url }}">{{ repository_name }}</a></li>
   {{# breadcrumbs_it }}
      <span class="divider">/</span>
      <li>
         {{^ last? }}<a href="{{ url }}">{{/ last? }}
            {{ directory }}
         {{^ last? }}</a>{{/ last? }}
      </li>
    {{/ breadcrumbs_it }}

   <div class="pull-right">
      <div class="btn-group download-buttons">
         {{# archive_formats }}
         <a href="{{ link }}" class="btn btn-mini"
               title="Download '{{ current_branch }}' as a TAR archive">
            {{ name }}
         </a>
         {{/ archive_formats }}
      </div>
      {{!<a href="" class="rss-icon">
         <i class="rss"></i>
      </a>}}
   </div>


</ul>

{{# files_page? }}
<table class="last-commit table table-bordered">
   {{# last_commit }}{{> commit_entry }}{{/ last_commit }}
</table>
{{/ files_page? }}
