<tr>
    <td width="5%"><img src="{{ author_avatar }}" /></td>
    <td width="95%">
       <span class="pull-right">
          <a class="btn btn-small" href="{{ link }}">
             <i class="icon-list-alt"></i> View {{ short_hash }}
          </a>
       </span>
       <h4>{{ message }}</h4>
       <span>
          <a href="mailto:{{ author_email }}">
             {{ author_name }}
          </a>
          authored in {{ date }}</span>
    </td>
</tr>
