{{# repositories }}
   <div class="repository">
      <div class="repository-header">
         <i class="icon-folder-open icon-spaced"></i>
         <a href="{{ index_link }}">{{ name }}</a>
      </div>
      <div class="repository-body">
         <p>{{ description }}</p>
      </div>
   </div>
{{/ repositories }}

<hr />
