<div class="navbar navbar-scroll-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Git Browser</a>
        </div>
    </div>
</div>
