<ul class="nav nav-tabs">
   <li{{# files_page? }} class="active"{{/ files_page? }}>
      <a href="{{ nav_files_link }}">Files</a>
   </li>
   <li{{# commits_page? }} class="active"{{/ commits_page? }}>
      <a href="{{ nav_commits_link }}">Commits</a>
   </li>
   <!--<li{{# stats_page? }} class="active"{{/ stats_page? }}>
      <a href="{{ stats_link }}">Stats</a>
   </li>-->
</ul>
