<table class="tree">
    <thead>
        <tr>
            <th width="80%">name</th>
            <th width="10%">mode</th>
            <th width="10%">size</th>
        </tr>
    </thead>
    <tbody>
        {{# parent? }}
        <tr>
            <td>
                <i class="icon-spaced"></i>
                <a href="{{ parent }}">..</a>
            </td>
            <td></td>
            <td></td>
        </tr>
        {{/ parent? }}
        {{# files }}
        <tr>
            <td>
                 <i class="{{ icon }} icon-spaced"></i>
                 <a href="{{ link }}">{{ name }}</a>
            </td>
            <td>{{ mode }}</td>
            <td>{{ size }}</td>
        </tr>
        {{/ files }}
    </tbody>
</table>
